:root {
  --bodycolor: #cbecec;
  --background: #fff;
  --fuente: #161516;
  --green: #006400;
  --blue: #0000ff;
}
body {
  background-color: var(--bodycolor);
}
header a {
  text-decoration: none;
}
.titulo {
  text-align: center;
  font-size: 3.8rem;
  color: var(--fuente);
}
div {
  text-align: center;
  background-color: var(--background);
}
h2 {
  text-align: center;
  background-color: var(--green);
  border-radius: 50px;
}
